<!DOCTYPE html>
<html>
<head>
<title>Digital Service</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" shrink-to-fit="no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- favicons -->
<link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="images/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
<!-- favicons -->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/custom-responsive-style.css">
<script type="text/javascript" src="scripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="scripts/plugin-active.js"></script>
</head>
<body>
  <header>
    <div class="mobile-logo">
    <a href=""><img src="images/logo.svg"></a>
  </div>
  <a class="menu-toggle rounded" href="#">
    <i class="fa fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="smooth-scroll" href="#Header"></a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#About">Sākumlapa</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#OurWork">Amatpersonas</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#OurBlog">Vēsture</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#Testimonials">C!Q!</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#Partners">Citas korporācijas</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#Contact">Kontakti</a>
      </li>
    </ul>
  </nav>
  </header>
<section id="Banner">
  <div class="logo">
    <img src="images/logo.svg">
  </div>
  <div class="blacksection">
    <h1>LETTGALLIA<br>per aspera ad astra<br>labor et fidelitas</h1>
  </div>
</section>
<a href="#About" class="mscroll"><img src="images/mouse-icon.png" alt="mouse icon"></a>
<section id="About">
  <div class="container">
    <h2>Par Lettgalliu</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="each-section">
          <img src="images/gerbonis200.gif" alt="About">
          <h3>Dibināšana</h3>
          <p>Lettgallia dibināta Tērbatā, 1899. gada 8. februārī.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="each-section">
          <img src="images/gerbonis200.gif" alt="About">
          <h3>Krāsas</h3>
          <p>Zaļš - Visas šaubas veic</br>Melns - Nopietnībā darbs lai rit</br>Balts - Krūtīs tīra sirds lai sit</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="each-section">
          <img src="images/gerbonis200.gif" alt="About">
          <h3>Devīzes</h3>
          <p>Per aspera ad astra - Caur ērkšķiem pie zvaigznēm</br>Labor et fidelitas - Darbs un uzticība</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="OurWork">
  <div class="container">
    <h2>Amatpersonas</h2>
    <p>Lettgallias amatpersonas 2019-II semestrī:</p>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="grey-box">
          <p>t/l seniors com! Varis Šipko, 26309590, seniors@lettgallia.lv</p>
          <p>t/l viceseniors com! Silvestrs Auders, 27009201, viceseniors@lettgallia.lv</p>
          <p>t/l sekretārs fil! Juris Bitenieks, 29148326, sekretars@lettgallia.lv</p></br>
          <p>t/l oldermanis Didzis Brūklītis, 26159240, oldermanis@lettgallia.lv</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="OurBlog">
  <div class="container">
    <h2>Vēsture</h2>
    <div class="blog-wrap">
      <div class="each-block clearfix one">
        <div class="icon">
          <img src="images/blog-icon.png">
        </div>
        <div class="blog-intro">
          <h3>Dibināšana</h3>
          <p>1899. gada 8. februārī deviņi Tērbatas universitātes Farmācijas institūta latviešu studenti nodibināja trešo vecāko latviešu studentu korporāciju ar nosaukumu Lettgallia, ar ko senās hronikās latīņu valodā apzīmēja latviešu apdzīvoto teritoriju. Korporācijas krāsu nozīme izteikta karoga dziesmā: zaļš – visas šaubas veic , melns – nopietnībā darbs lai rit, balts – krūtīs tīra sirds lai sit. Dibinātāju izstrādātais Internais Komāns, kas arī ietvēra arī Goda komānu, un Alus Komāns galvenajos vilcienos ir spēkā vēl šodien.</p>
        </div>
      </div>
      <div class="each-block clearfix two">
        <div class="icon">
          <img src="images/blog-icon.png">
        </div>
        <div class="blog-intro">
          <h3>Krāsu atsegšana</h3>
          <p>1912. gada 10. janvārī Lettgallia saņēma atļauju krāsu atsegšanai.</p>
        </div>
      </div>
      <div class="each-block clearfix three">
        <div class="icon">
          <img src="images/blog-icon.png">
        </div>
        <div class="blog-intro">
          <h3>..</h3>
          <p></p>
        </div>
      </div>
    </div>
    <div class="learnmore">
      <a href="Learnmore"><span>Learn more</span></a>
    </div>
  </div>
</section>
<section id="Testimonials">
   <div class="container">
    <h2>C!Q!</h2>
    <p>Attrašanās vieta: Dzirnavu iela 36, Centra rajons, Rīga, LV-1010</p>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="each-section">
          <img src="http://lettgallia.lv/sites/default/files/Nams0.jpg" alt="Lettgallias C!Q! ēka">
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="each-section">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4350.908154781459!2d24.113458!3d56.958154!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x48a05ba0c5df33e9!2sLettgallias%20filistru%20biedriba!5e0!3m2!1sen!2slv!4v1599570863437!5m2!1sen!2slv" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
      </div>
    </div>
   </div>
</section>
<section id="Partners">
  <div class="container">
    <h2>Citas korporācijas</h2>
    <p>Pie Lettgallias komānus ir garantējušas divas korporācijas:</p>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="each-section">
          <img src="images/gerbonis-fraternitas.gif" alt="Fraternitas Metropolitana">
          <h3><a href="https://lv.wikipedia.org/wiki/Fraternitas_Metropolitana">Fraternitas Metropolitana</a></h3>
          <p>Krāsas: zelts, violēts, zaļš</br>Devīzes: Vienotiem spēkiem par godu, draugu, tēvzemi</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="each-section">
          <img src="images/gerbonis-ruthenia.gif" alt="Ruthenia">
          <h3>Ruthenia</h3>
          <p>Krāsas: melns, oranžs, balts</br>Devīzes: Vera amicitia in calamitatibus dignoscitur</p>
        </div>
      </div>
    </div>

    </br>
    <p>Lettgalliai pastāv draudzības karteļa līgums ar igauņu korporāciju Rotalia</p>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="each-section">
          <img src="images/gerbonis-rotalia.gif" alt="Rotalia">
          <h3>Rotalia</h3>
          <p>Krāsas: zils, melns, zaļš </br>Devīzes: Ausus, kindlus, iseteadvus, uhistunne - goda prāts, noteiktība, pašapziņa, kopība.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<footer id="Contact">
  <div class="container">
    <p>Ja vēlaties sazināties ar Lettgalliu, esat students un vēlaties infomāciju par viesošanos Lettgalliā vai par jauno locekļu uzņemšanas kārtību tad</p>
    <a href="mailto:info@lettgallia.lv" class="email-btn"><span><i class="fa fa-envelope-o" aria-hidden="true"></i>Rakstiet</span></a>
    <ul class="social-icons">
      <li><a href="https://www.facebook.com/Lettgallia"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="http://www.twitter.com/Lettgallia"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="http://www.youtube.com/user/Lettgallia"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
      <li><a href="mailto:info@lettgallia.lv"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</footer>
  <div class="copyright"><p>® Autortiesības <script>document.write(new Date().getFullYear())</script></p>
</div>
</body>
</html>
