<!DOCTYPE html>
<html>
<head>
<title>Lettgallia</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" shrink-to-fit="no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- favicons -->
<link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="images/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
<!-- favicons -->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/custom-responsive-style.css">
<script type="text/javascript" src="scripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="scripts/plugin-active.js"></script>
</head>
<body>
  <header>
    <div class="mobile-logo">
    <a href=""><img src="images/logo.svg"></a>
  </div>
  <a class="menu-toggle rounded" href="#">
    <i class="fa fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="smooth-scroll" href="#Header"></a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#About">Sākumlapa</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#OurWork">Amatpersonas</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#OurBlog">Vēsture</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#Testimonials">C!Q!</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#Partners">Citas korporācijas</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#Gallery">Galerija</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#Contact">Kontakti</a>
      </li>
    </ul>
  </nav>
  </header>
<section id="Banner">
  <div class="logo">
    <img src="images/logo.svg">
  </div>
  <div class="blacksection">
    <h1>LETTGALLIA<br>per aspera ad astra<br>labor et fidelitas</h1>
  </div>
</section>
<a href="#About" class="mscroll"><img src="images/mouse-icon.png" alt="mouse icon"></a>
{{ content | safe }}
<footer id="Contact">
  <div class="container">
    <p>Ja vēlaties sazināties ar Lettgalliu, esat students un vēlaties infomāciju par viesošanos Lettgalliā vai par jauno locekļu uzņemšanas kārtību tad</p>
    <a href="mailto:info@lettgallia.lv" class="email-btn"><span><i class="fa fa-envelope-o" aria-hidden="true"></i>Rakstiet</span></a>
    <ul class="social-icons">
      <li><a href="https://www.facebook.com/Lettgallia"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="http://www.twitter.com/Lettgallia"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="http://www.youtube.com/user/Lettgallia"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
      <li><a href="mailto:info@lettgallia.lv"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</footer>
  <div class="copyright"><p>® Autortiesības <script>document.write(new Date().getFullYear())</script></p>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
